{% extends 'base.html' %}

{% block content %}
    <h1 class="mt-5">Minha agenda</h1>

        <table class="table">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Sobrenome</th>
              <th>Telefone</th>
              <th>Categoria</th>
            </tr>
          </thead>
          <tbody>
          {% for contato in contatos %}
            <tr>
              <td>
                <a href="{% url 'detalhes_contato' contato.id %}">{{ contato.nome }}</a>
              </td>
              <td>{{ contato.sobrenome }}</td>
              <td>{{ contato.telefone }}</td>
              <td>{{ contato.categoria_fk }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
{% endblock %}